### 1. print() 함수를 사용한 다양한 출력

print 출력 방법 이해하고, 변수, 리스트, 딕셔너리, 튜플 등의 예제도 이해하자.

In [1]:
# end 디폴트 옵션 덕분에 자동으로 개행
print("==============================")
print('a')
print()
print('BlockDMask')
print('b')
print('c')

==============================
a

BlockDMask
b
c

In [2]:
# sep 디폴트 옵션 덕분에 공백 구분
print("==============================")
print('a','b','c', 'd', 'e', 'f', 'g', sep=' ==++ ')

==============================
a ==++ b ==++ c ==++ d ==++ e ==++ f ==++ g

In [3]:
# print 기본 예제

print(123)
print("Kim")
print('Park')

a = 2
b = 10
print("a+b : ", a+b, '\t', "a-b : ", a-b)

a = 2.0
b = 10.0
print("axb : ", a*b, '\t', "b/a : ", b/a)

123
Kim
Park
a+b :  12 	 a-b :  -8
axb :  20.0 	 b/a :  5.0

In [4]:
arr = [1, 2, "blockmask", 3.5, 4.5, 'z']
arr
print(arr)

[1, 2, 'blockmask', 3.5, 4.5, 'z']

In [5]:
arr = [1, 2, "blockmask", 3.5, 4.5, 'z']

for v in arr:
    print(f"value: {v}")

print(*arr)

value: 1
value: 2
value: blockmask
value: 3.5
value: 4.5
value: z
1 2 blockmask 3.5 4.5 z

In [6]:
# f-string

s = 'coffee'
n = 5
result = f'저는 {s}를 좋아합니다. 하루 {n}잔 마셔요.'
print(result)

저는 coffee를 좋아합니다. 하루 5잔 마셔요.

In [7]:
# f-string 왼쪽 정렬
s1 = 'left'
print(f'|{s1:<20}|')

# f-string 가운데 정렬
s2 = 'mid'
print(f'|{s2:^20}|')

# f-string 오른쪽 정렬
s3 = 'right'
print(f'|{s3:>20}|')

|left                |
|        mid         |
|               right|

In [8]:
# f-string 중괄호 출력
num = 10
print(f'my age {{}}, {num}, {{num}}, {{{num}}}')

my age {}, 10, {num}, {10}

In [9]:
# f-string과 Dicitionary
d = {'name':'BlockDMask', 'gender':'man', 'age':100}
result = f'my name {d["name"]}, gender {d["gender"]}, age {d["age"]}'
print(result)

my name BlockDMask, gender man, age 100

In [10]:
# Dictionary Print 방법
for key, value in d.items():
    print(key, ":", value)

name : BlockDMask
gender : man
age : 100

In [11]:
# f-string과 리스트
n = [100, 200, 300]

print(f'list : {n[0]}, {n[1]}, {n[2]}')
print(f'list : n[0], n[1], n[2]')

for v in n:
    print(f'list with for : {v}')

list : 100, 200, 300
list : n[0], n[1], n[2]
list with for : 100
list with for : 200
list with for : 300

In [12]:
# 다양한 리스트 출력 예제

print(n)
print(*n) # 잘 알려지지 않은 방법
print(*n, sep='\n')

print('list :', n[0], n[1], n[2])
print('list :', *n)

for v in n:
    print('list with for: ', v)

[100, 200, 300]
100 200 300
100
200
300
list : 100 200 300
list : 100 200 300
list with for:  100
list with for:  200
list with for:  300

In [13]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### 2. 변수 사용 및 자료형 변환

In [14]:
import sys

In [15]:
print("{0:d} {1:5d} {2:05d}".format(123, 456, 789))

123   456 00789

In [16]:
myVar = 100
print(type(myVar))
print(sys.getsizeof(myVar))

myVar = 100.0
print(type(myVar))
print(sys.getsizeof(myVar))

myVar = "100.0"
print(type(myVar))
print(sys.getsizeof(myVar))

<class 'int'>
28
<class 'float'>
24
<class 'str'>
54

##### 자료형 변환

In [17]:
a = '76.3'
b = 35.2
print(float(a)+b)
print(a+"00"+str(b))

111.5
76.30035.2

### 3. 기본 데이터형

In [18]:
## 함수 선언 부분 ##
def myFunc() :
    print('함수를 호출함.')
    
## 전역 변수 선언 부분 ##
gVar = 100

In [19]:
## 메인 코드 부분 ##
if __name__ == '__main__' :
    print('메인 함수 부분이 실행됩니다.')
    myFunc()
    print('전역 변수 값:', gVar)

메인 함수 부분이 실행됩니다.
함수를 호출함.
전역 변수 값: 100

In [20]:
def main():
    print('메인 함수 부분이 실행됩니다.')
    myFunc()
    print('전역 변수 값:', gVar)

if __name__ == '__main__':
    main()

메인 함수 부분이 실행됩니다.
함수를 호출함.
전역 변수 값: 100

In [21]:
import sys

x = 100**1000
y = 100**10

n = x
length = 0
while n>0:
    n //= 10
    length += 1
    
print('x', length, 'figures')
print('x', sys.getsizeof(x), 'byte')
print('y', sys.getsizeof(y), 'byte')

x 2001 figures
x 912 byte
y 36 byte

### 4. print()와 input() 함수 예제

In [22]:
num1 = eval(input('Enter the first number:   '))
num2 = eval(input('Enter the second number:   '))
num1+num2

print(type(num1), type(num2))

Enter the first number:    10
Enter the second number:    20

<class 'int'> <class 'int'>

#### eval() 함수 예제

In [23]:
# 1. 문자열 덧셈
a = eval('"BlockDMask" + "blog"')
print(f"1. eval('\"BlockDMask\"' + '\" blog\"') : {a}")

# 2. 숫자 덧셈
b = eval("100 + 32")
print(f'2. eval("100 + 32") : {b}')

# 3. 내장 함수
absc = eval("abs(-56)")
print(f'3. eval("abs(-56)") : {absc}')

# 4. 리스트 길이
d = eval("len([1,2,3,4])")
print(f'4. eval("len([1,2,3,4])") : {d}')

# 5. round 함수
e = eval("round(1.5)")
print(f'5. eval("round(1.5)") : {e}')

1. eval('"BlockDMask"' + '" blog"') : BlockDMaskblog
2. eval("100 + 32") : 132
3. eval("abs(-56)") : 56
4. eval("len([1,2,3,4])") : 4
5. eval("round(1.5)") : 2

In [24]:
print('What\'s going on?')

What's going on?

In [25]:
msg1 = 'Hello1'
msg2 = "Hello2"
print(msg1, msg2)

Hello1 Hello2

In [26]:
msg1
msg2

'Hello2'

In [27]:
msg2

'Hello2'

In [28]:
message = "철수가 "안녕"이라고 말했습니다."

SyntaxError: invalid syntax (Temp/ipykernel_31496/2854643645.py, line 1)

In [ ]:
message1 = '철수가 "안녕"이라고 말했습니다.'
message2 = "철수가 \"안녕\"이라고 말했습니다."
print(message1,'\t', message2)