### Section 01 산술 연산자

In [1]:
a, b = 5, 3
print(a//b, a%b, a**b)

1 2 125

In [2]:
a, b, c = 2, 3, 4
print(a+b-c, a+b*c, a*b/c)

1 14 1.5

In [3]:
a=100; b=100.123
print(str(a)+'1', '\t', str(b)+'1')

1001 	 100.1231

In [13]:
# 동전 교환 프로그램

money, c500, c100, c50, c10 = 0, 0, 0, 0, 0
money=int(input("교환할 돈은 얼마 ? "))

c500 = money // 500
money %= 500

c100 = money // 100
money %= 100

c50 = money // 50
money %= 50

c10 = money // 10
money %= 10

print("500원", '\t', c500,"개")
print("100원", '\t', c100,"개")
print("50원", '\t', c50,"개")
print("10원", '\t', c10,"개")
print("잔돈", '\t', money,'원')

교환할 돈은 얼마 ?  2050

500원 	 4 개
100원 	 0 개
50원 	 1 개
10원 	 0 개
잔돈 	 0 원

In [15]:
a, b = 100, 200

True

### Section 04 비트 연산자

마스크(Mask) 방식에 대한 예제

In [11]:
a = ord('A')
mask = 0x0F

print("%x & %x = %x" % (a, mask, a & mask))
print("%X & %X = %X" % (a, mask, a | mask))

41 & f = 1
41 & F = 4F

In [15]:
mask = ord('a') - ord('A')
print(ord('a'), ord('A'), mask)
print(hex(ord('a')), hex(ord('A')), hex(mask))

97 65 32
0x61 0x41 0x20

In [16]:
b = a ^ mask
print("%c ^ %d = %c" % (a, mask, b))
a = b ^ mask
print("%c ^ %d = %c" % (b, mask, a))

A ^ 32 = a
a ^ 32 = A

1의 보수 / 2의 보수

In [19]:
a = 123
b = 456
print(bin(a), bin(b), bin(a&b), a&b)

0b1111011 0b111001000 0b1001000 72

In [21]:
a = 12345
print(~a, ~a+1)

-12346 -12345

Shift 연산자 사용 예

In [18]:
a = 100
result = 0
i = 0

for i in range(1, 5) :
    result = a << i
    print("%d << %d = %d" % (a, i, result))

for i in range(1, 5) :
    result = a >> i
    print("%d >> %d = %d" % (a, i, result))

100 << 1 = 200
100 << 2 = 400
100 << 3 = 800
100 << 4 = 1600
100 >> 1 = 50
100 >> 2 = 25
100 >> 3 = 12
100 >> 4 = 6

#### Lab ; 사용자로부터 여러 개의 수를 입력받자

map(function, iterable)  
두 번째 인자로 들어온 반복 가능한 자료형 (리스트나 튜플)을 첫 번째 인자로 들어온 함수에 하나씩 집어넣어서 함수를 수행

In [22]:
input('3개 정수를 입력하시오: ')

3개 정수를 입력하시오:  30 40 50

'30 40 50'

In [23]:
data = input('3개 정수를 입력하시오: ').split()

3개 정수를 입력하시오:  30 40 50

In [24]:
print(type(data), data)

<class 'list'> ['30', '40', '50']

In [35]:
b = 13/3
print(b)

4.333333333333333

In [25]:
x,y,z = map(int, input('3개 정수를 입력하시오: ').split())

3개 정수를 입력하시오:  30 40 50

In [26]:
print(x, y, z)

30 40 50

In [1]:
import random

In [2]:
a = random.random()
a

0.10681425259263189

In [3]:
b = random.random()
b

0.19136503785516934